@page "/AptitManage/Home"
@using Syncfusion.Blazor.Layouts
@using Syncfusion.Blazor.Lists
@using BlazorAptit.Models

@inject Blazored.SessionStorage.ISessionStorageService sessionStorage

<div class="col-lg-12 control-section">
    <div class="control_wrapper">
        <h4>@dt.Month.ToString()월
             접수단체리스트 </h4>
        <SfSplitter Height="300px" Width="100%">
            <SplitterPanes>
                <SplitterPane Size="15%" Min="25%">
                    <ContentTemplate>
                        <div>

                            <SfListView @ref="ListViewObj" ID="ui-list" DataSource="@aptitGroups" Height="250" CssClass="e-list-template"  >
                                <ListViewEvents TValue="AptitGroup" Clicked="select"></ListViewEvents>
                                <ListViewFieldSettings TValue="AptitGroup" Id="Group_ID" Text="Group_Name"></ListViewFieldSettings>
                                @*<ListViewTemplates TValue="AptitGroup">
                                        <Template>
                                            @{
                                                <div class="e-list-wrapper e-list-avatar">
                                                    <span class="e-list-">@context.Group_Name</span>
                                                    <span class="e-list-content">@context.Created</span>
                                                </div>
                                            }
                                        </Template>
                                    </ListViewTemplates>*@
                            </SfListView>
                        </div>
                    </ContentTemplate>
                </SplitterPane>R
                <SplitterPane Size="85%" Min="45%">
                    <ContentTemplate>
                        <div>
                            @*<div class="profile-name bold">@aptitGroupsSub.Group_Name</div>*@
                            <div class="details-container">
                                <div class="detail-row">
                                    <div class="detail-item">
                                        <span class="e-bold detail-label">회차코드:</span>
                                        <span class="detail-value">@aptitGroupsSub.Group_ID</span>
                                    </div>
                                    <div class="detail-item">
                                        <span class="e-bold detail-label">단체명:</span>
                                        <span class="detail-value">@aptitGroupsSub.Group_Name</span>
                                    </div>
                                    <div class="detail-item">
                                        <span class="e-bold detail-label">검사종류:</span>
                                        <span class="detail-value">@aptitGroupsSub.CheckType</span>
                                    </div>
                                </div>
                                <div class="detail-row">
                                    <div class="detail-item">
                                        <span class="e-bold detail-label">담당자:</span>
                                        <span class="detail-value">@aptitGroupsSub.Manage_Name</span>
                                    </div>
                                    <div class="detail-item">
                                        <span class="e-bold detail-label">연락처1:</span>
                                        <span class="detail-value">@aptitGroupsSub.Manage_Tel1</span>
                                    </div>
                                    <div class="detail-item">
                                        <span class="e-bold detail-label">연락처2:</span>
                                        <span class="detail-value">@aptitGroupsSub.Manage_Tel2</span>
                                    </div>
                                </div>
                                <div class="detail-row">
                                    <div class="detail-item">
                                        <span class="e-bold detail-label">신청인원:</span>
                                        <span class="detail-value">@aptitGroupsSub.RegCount</span>
                                    </div>
                                    <div class="detail-item">
                                        <span class="e-bold detail-label">진행인원:</span>
                                        <span class="detail-value">@aptitGroupsSub.CompletCount</span>
                                    </div>
                                    <div class="detail-item"></div>
                                </div>
                                <div class="detail-row">
                                    <div class="detail-item">
                                        <span class="e-bold detail-label">시작일:</span>
                                        <span class="detail-value">@aptitGroupsSub.StartDate</span>
                                    </div>
                                    <div class="detail-item">
                                        <span class="e-bold detail-label">종료일:</span>
                                        <span class="detail-value">@aptitGroupsSub.EndDate</span>
                                    </div>
                                    <div class="detail-item">
                                        <span class="e-bold detail-label">계약일:</span>
                                        <span class="detail-value">@aptitGroupsSub.Created</span>
                                    </div>
                                </div>
                                <div class="detail-row">
                                    <div class="detail-item">
                                        <span class="e-bold detail-label">입금액:</span>
                                        <span class="detail-value">@aptitGroupsSub.Payment</span>
                                    </div>
                                    <div class="detail-item">
                                        <span class="e-bold detail-label">발급회차:</span>
                                        <span class="detail-value">@aptitGroupsSub.PaymentCount</span>
                                    </div>
                                    <div class="detail-item"></div>
                                </div>
                            </div>

                        </div>
                    </ContentTemplate>
                </SplitterPane>
            </SplitterPanes>
        </SfSplitter>
    </div>

    <div class="control_wrapper">
        <h4>@dt.Month.ToString()월 검사리스트</h4>
        <SfSplitter Height="500px" Width="100%">
            <SplitterPanes>
                <SplitterPane Size="15%" Min="25%">
                    <ContentTemplate>
                        <div>

                            <SfListView @ref="ListViewObj2" ID="ui-list" DataSource="@오늘검사단체" Height="600" CssClass="e-list-template">
                                <ListViewEvents TValue="AptitUser" Clicked="select"></ListViewEvents>
                                <ListViewFieldSettings TValue="AptitUser" Id="Group_ID" Text="Group_Name"></ListViewFieldSettings>
                                <ListViewTemplates TValue="AptitUser">
                                    <Template>
                                        @{
                                            <div class="e-list-wrapper e-list-avatar">
                                                <span class="e-list-">@context.Group_Name @context.User_Name</span>
                                            </div>
                                        }
                                    </Template>
                                </ListViewTemplates>
                            </SfListView>
                        </div>
                    </ContentTemplate>
                </SplitterPane>
                <SplitterPane Size="85%" Min="45%">
                    <ContentTemplate>
                        <div>

                            @*<div class="profile-name bold">@aptitGroupsSub.Group_Name</div>*@
                            <div class="details-container">
                                <div class="detail-row">
                                    <div class="detail-item">
                                        <span class="e-bold detail-label">이름:</span>
                                        <span class="detail-value">@aptitUserSub.User_Name</span>
                                    </div>
                                    <div class="detail-item">
                                        <span class="e-bold detail-label">이메일:</span>
                                        <span class="detail-value">@aptitUserSub.User_Email</span>
                                    </div>
                                </div>
                                <div class="detail-row">
                                    <div class="detail-item">
                                        <span class="e-bold detail-label">나이:</span>
                                        <span class="detail-value">@aptitUserSub.User_Age</span>
                                    </div>
                                    <div class="detail-item">
                                        <span class="e-bold detail-label">성별:</span>
                                        <span class="detail-value">@aptitUserSub.User_Gender</span>
                                    </div>
                                </div>
                                <div class="detail-row">
                                    <div class="detail-item">
                                        <span class="e-bold detail-label">학년:</span>
                                        <span class="detail-value">@aptitUserSub.User_Grade</span>
                                    </div>
                                    <div class="detail-item">
                                        <span class="e-bold detail-label">전공:</span>
                                        <span class="detail-value">@aptitUserSub.User_Finish</span>
                                    </div>
                                </div>
                                <div class="detail-row">
                                    <div class="detail-item">
                                        <span class="e-bold detail-label">검사일:</span>
                                        <span class="detail-value">@aptitUserSub.Created</span>
                                    </div>
                                    <div class="detail-item">
                                        <span class="e-bold detail-label">진행상태:</span>
                                        <span class="detail-value"></span> @* Placeholder for status? *@
                                    </div>
                                </div>
                            </div>

                        </div>
                    </ContentTemplate>
                </SplitterPane>
            </SplitterPanes>
        </SfSplitter>
    </div>
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var UserRole = await sessionStorage.GetItemAsync<string>("USERROLE");

            if (UserRole == "user")
            {
                NavigationManager.NavigateTo(NavigationManager.ToAbsoluteUri("/account").ToString());
                StateHasChanged();
            }
        }
    }


}


<style>
    #splitter .e-avatar.e-avatar-xlarge {
        font-size: 22px;
    }

    .header-image {
        text-align: center;
        margin-top: 7px;
    }

    .e-custom-card .e-avatar {
        font-size: 20px;
        position: absolute;
        top: calc(0% - 1.5em);
        left: calc(50% - 1.5em);
        box-shadow: 0 16px 28px -8px rgba(0, 0, 0, .36), 0 4px 15px 0 rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2);
    }
    /* ListView template customization */
    #ui-list.e-listview .showUI {
        display: flex;
    }

    #ui-list.e-listview .hideUI {
        display: none;
    }

    #ui-list.e-listview .e-list-item {
        padding: 3px 0;
    }

    #ui-list.e-listview .R {
        background: lightgrey;
    }

    #ui-list.e-listview .M {
        background: lightblue;
    }

    .highcontrast #ui-list.e-listview .e-list-item.e-active {
        background: #ffd939;
        color: #000000;
    }

    /* Remove table styles as they are no longer used for details */
    /* table {
        border-collapse: collapse;
        border-spacing: 0;
        width: calc(100% - 20px);
        margin: 10px;
    }

        table th,
        table td {
            font-weight: normal;
            padding: 5px;
            text-align: left;
            border: 1px solid #ddd
        } */

    .e-bold {
        font-weight: bold;
    }

    .profile-name {
        font-weight: 500;
        font-size: 14px;
        text-align: center;
    }

    /* New styles for detail layout */
    .details-container {
        padding: 25px;
        font-size: 16px;
        background-color: #fdfdfd;
        border: 1px solid #dcdcdc;
        border-radius: 10px;
        box-shadow: 0 5px 10px rgba(0,0,0,0.1);
        transition: box-shadow 0.3s ease, transform 0.3s ease;
    }

    .detail-row {
        display: flex;
        margin-bottom: 10px;
        gap: 15px;
        flex-wrap: wrap;
    }

    .detail-item {
        flex: 1;
        min-width: 240px;
        background-color: #f8f8f8;
        padding: 12px 18px;
        border-radius: 8px;
        border: 1px solid #ddd;
        box-shadow: 0 3px 6px rgba(0,0,0,0.05);
        transition: transform 0.2s ease, box-shadow 0.2s ease;
    }

    .detail-item:hover {
        transform: translateY(-3px);
        box-shadow: 0 6px 12px rgba(0,0,0,0.15);
    }

    .detail-label {
        margin-right: 12px;
        color: #777;
    }

    .detail-value {
        font-size: 14px;
        color: #111;
    }

    h4 {
        padding: 15px 25px;
        background-color: #eaeaea;
        border-bottom: 1px solid #bbb;
        margin-bottom: 0;
        font-size: 1.3em;
        font-weight: 700;
        color: #444;
    }

    .control_wrapper {
        border: 1px solid #bbb;
        margin-bottom: 30px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        border-radius: 10px;
        overflow: hidden;
    }
</style>