@model BlazorAptit.Models.AptitUser

<style>
    input[readonly] {
        background-color: #e8eefc;
        box-shadow: none;
    }
    ::placeholder {
        color: black;
    }

    .force-opaque::placeholder {
        opacity: 1;
    }
    :-moz-placeholder {
        font-weight: bold;
        color: black;
    }

    ::-webkit-input-placeholder {
        font-weight: bold;
        color: black;
    }

    ::-moz-placeholder {
        font-weight: bold;
        color: black;
    }

    :-ms-input-placeholder {
        font-weight: bold;
        color: black;
    }
   
</style>
<div class="container">
    <form class="form-horizontal"  method="post" asp-controller="Aptit" role="form" asp-action="Create"   id="frm" >
     
            <div class="row justify-content-center w-300">
                <div class="col-md-10">
                    <div class="form-group mt-4 mb-4">
                        <h2>기본정보 입력</h2>
                    </div>
                    <div class="form-row ">
                        @*<label for="Group_Name" class="col-sm-3 control-label">기관(학교)명</label>*@
                        <div class="form-group col-sm-5">
                            <input asp-for="Group_ID" class="form-control " placeholder="회차코드" style="background-color:#e8eefc;box-shadow: none;" readonly />
                            @*<span asp-validation-for="Group_Name" class="text-danger"></span>*@
                        </div>
                    </div>
                    <div class="form-row">
                        @*<label for="Group_Name" class="col-sm-3 control-label">기관(학교)명</label>*@
                        <div class="form-group col-sm-5">
                            <input asp-for="Group_City" class="form-control" placeholder="지역" style="background-color:#e8eefc;box-shadow: none;" readonly />
                            @*<span asp-validation-for="Group_Name" class="text-danger"></span>*@
                        </div>
                        <div class="form-group col-sm-5">
                            <input asp-for="Group_Name" class="form-control" placeholder="단체명" style="background-color:#e8eefc;box-shadow: none;" readonly />
                            @*<span asp-validation-for="Group_Name" class="text-danger"></span>*@
                        </div>
                    </div>
                    <div class="form-row">
                        @*<label for="User_Email" class="col-sm-3 control-label">이메일</label>*@
                        <div class="form-group col-sm-10">
                            <input asp-for="User_Email" class="form-control" placeholder="이메일 입력" autocomplete="false" />
                            <span asp-validation-for="User_Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        @*<label for="User_Password" class="col-sm-3 control-label">패스워드</label>*@
                        <div class="form-group col-sm-5">
                            <input asp-for="User_Password" id="pwd1" class="form-control" placeholder="패스워드(네 글자까지 입력)" type="password" autocomplete="new-password" />
                            <span asp-validation-for="User_Password" class="text-danger"></span>
                        </div>
                        <div class="form-group col-sm-5">
                            <input asp-for="User_Password2" id="pwd2" class="form-control" placeholder="패스워드 확인(네 글자까지 입력)" type="password" />
                            <span asp-validation-for="User_Password2" class="text-danger"></span>
                            <font id="chkNotice" size="2"></font>
                        </div>

                    </div>

                    <div class="form-row">
                        @*<label for="User_Name" class="col-sm-3 control-label">이름</label>*@
                        <div class="form-group col-sm-10">
                            <input asp-for="User_Name" class="form-control" placeholder="이름 입력" autocomplete="off" />
                            <span asp-validation-for="User_Name" class="text-danger"></span>
                        </div>
                    </div>
                    
                    <div class="form-row">
                        <div class="btn-group col-sm-10" data-toggle="buttons">
                            <label class="btn btn-light">
                                @*@Html.RadioButtonFor(model => model.User_Gender, 1) 남자*@
                                @Html.RadioButtonFor(model => model.User_Job, "A" , new { @Name = "jobs" , @onchange = "ToggleInfo(this);" }) 초
                            </label>
                            <label class="btn btn-light">
                                @*@Html.RadioButtonFor(model => model.User_Gender, 2) 여자*@
                                @Html.RadioButtonFor(model => model.User_Job, "B", new { @Name = "jobs", @onchange = "ToggleInfo(this);" }) 중
                                @*<input type="radio" autocomplete="off" /> Female*@
                            </label>
                            <label class="btn btn-light">
                                @*@Html.RadioButtonFor(model => model.User_Gender, 2) 여자*@
                                @Html.RadioButtonFor(model => model.User_Job, "C", new { @Name = "jobs", @onchange = "ToggleInfo(this);" }) 고
                                @*<input type="radio" autocomplete="off" /> Female*@
                            </label>
                            <label class="btn btn-light">
                                @*@Html.RadioButtonFor(model => model.User_Gender, 2) 여자*@
                                @Html.RadioButtonFor(model => model.User_Job, "D", new { @Name = "jobs" , @onchange = "ToggleInfo(this);" }) 대학생
                                @*<input type="radio" autocomplete="off" /> Female*@
                            </label>
                            <label class="btn btn-light">
                                @*@Html.RadioButtonFor(model => model.User_Gender, 2) 여자*@
                                @Html.RadioButtonFor(model => model.User_Job, "E", new { @Name = "jobs", @onchange = "ToggleInfo(this);" }) 대학원
                                @*<input type="radio" autocomplete="off" /> Female*@
                            </label>
                            <label class="btn btn-light">
                                @*@Html.RadioButtonFor(model => model.User_Gender, 2) 여자*@
                                @Html.RadioButtonFor(model => model.User_Job, "F", new { @Name = "jobs", @onchange = "ToggleInfo(this);" }) 기타
                                @*<input type="radio" autocomplete="off" /> Female*@
                            </label>
                        </div>
                        <div class="col-sm-10 text-danger">
                            @*@Html.ValidationMessageFor(m => m.User_Gender, "", new { @class = "error" })*@
                            @Html.ValidationMessageFor(model => model.User_Job, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-row">
                        @*<label for="User_Finish" class="col-sm-3 control-label">학년</label>*@
                        <div class="form-group col-sm-5">
                            <select id="select_User_Grade" class="form-control" name="User_Grade" asp-for="User_Grade">
                                <option value="해당없음">해당없음</option>
                                <option value="1">1학년</option>
                                <option value="2">2학년</option>
                                <option value="3">3학년</option>
                                <option value="4">4학년</option>
                                <option value="5">5학년</option>
                                <option value="6">6학년</option>
                            </select>
                            <span asp-validation-for="User_Grade" class="text-danger"></span>
                        </div>
                        <div class="form-group col-sm-5">
                        <input asp-for="User_Class" id="txt_User_Class" class="form-control" placeholder="(반)" />
                        <span asp-validation-for="User_Class" class="text-danger"   ></span>
                        </div>
                    </div>

                    <div class="form-row">
                        @*<label for="User_Edu" class="col-sm-3 control-label">학력</label>*@
                        <div class="form-group col-sm-5">
                            @*<input asp-for="User_Edu" class="form-control" placeholder="학년" />*@

                            <select id="select_User_Edu" class="form-control" name="User_Edu" asp-for="User_Edu">
                                @*<option value="" hidden="" disabled="" selected="">-- 학력 -- </option>*@
                                <option value="전공">전공</option>
                                <option value="해당없음">해당없음</option>

                            </select>
                            <span asp-validation-for="User_Edu" class="text-danger"></span>
                        </div>

                        <div class="form-group col-sm-5">
                            <input asp-for="User_Finish" class="form-control" placeholder="전공입력" />
                            <span asp-validation-for="User_Finish" class="text-danger"></span>
                        </div>
                    </div>


                    <div class="form-row">
                        @*<label for="User_Age" class="col-sm-3 control-label">나이</label>*@
                        <div class="form-group col-sm-10">
                            <input asp-for="User_Age" class="form-control" placeholder="나이" />
                            <span asp-validation-for="User_Age" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="btn-group col-sm-10" data-toggle="buttons">
                            <label class="btn btn-light">
                                @*@Html.RadioButtonFor(model => model.User_Gender, 1) 남자*@
                                @Html.RadioButtonFor(model => model.User_Gender, "Male") 남자
                            </label>
                            <label class="btn btn-light">
                                @*@Html.RadioButtonFor(model => model.User_Gender, 2) 여자*@
                                @Html.RadioButtonFor(model => model.User_Gender, "Female") 여자
                                @*<input type="radio" autocomplete="off" /> Female*@
                            </label>
                        </div>
                        <div class="col-sm-10 text-danger">
                            @*@Html.ValidationMessageFor(m => m.User_Gender, "", new { @class = "error" })*@
                            @Html.ValidationMessageFor(model => model.User_Gender, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-row">
                        <div class='termsbox  col-sm-10'>
                        <textarea class="form-control" readonly rows="5" >제1장 총칙

제1조 (목적)

본 약관은 커리어컴퍼니(이하 “관리자”라고 한다)에서 제공하는 인터넷 서비스인 옥타그노시스 검사 온라인 버전(이하 “서비스”라 한다)의 이용조건 및 절차, 기타 필요한 사항을 규정하는 것을 목적으로 합니다.

제2조 (용어의 정의)

본 약관에서 사용하는 용어의 정의는 다음과 같습니다.

1. 기관이용자란 사이트에 접속하여 본 약관에 따라 서비스를 이용하는 기관으로서, 본 약관에 동의하고, 정상적으로 기관코드와 회차코드를 발급받고, ID와 Password를 생성하여 이용할 수 있는 권한을 부여 받은 기관(단체)을 말합니다.

2. 개인이용자란 사이트에 접속하여 본 약관에 따라 서비스를 이용하는 기관으로서, 본 약관에 동의하고, 정상적으로 ID와 Password를 생성하여 이용할 수 있는 권한을 부여 받은 개인을 말합니다.

2. 기관코드란 관리자가 기관이용자와 이용계약을 체결한 후 기관에게 부여하는 서비스를 이용할 수 있는 고유한 코드를 말합니다.

3. 회차코드란 관리자가 기관이용자와 이용계약을 체결한 후 기관에게 부여하는 서비스를 횟수별로 이용할 수 있는 각 회에 해당하는 고유한 코드를 말합니다.

4. 인원이란 관리자가 기관이용자와 이용계약을 체결한 후 기관에게 각 회차 당 기관이용자가 사용할 수 있는 서비스의 횟수를 말합니다.

5. 회원가입이란 기관이용자의 경우, 관리자와의 이용계약 체결 후 서비스를 이용하기 위해 필요한 절차를 말합니다. 개인이용자의 경우, 서비스를 이용하기 위해 필요한 절차를 말합니다.

6. 담당자란 기관이용자가 관리자와의 이용계약 체결 후 서비스를 이용 시 관리자와 소통하며, 기관이용자가 서비스를 원활하게 진행할 수 있도록 관리자와 협조하는 역할을 하는 자를 말합니다.

7. 인원이란 기관이용자가 각 회차마다 서비스를 이용할 수 있도록 관리자와 계약을 체결한 서비스 이용 가능한 인원 수를 말합니다.

제3조 (약관의 효력 및 변경)

1. 본 약관의 내용은 서비스 화면에 게시하고, 기관이용자와 개인이용자가 회원가입을 완료함으로써 그 효력이 발생합니다.

2. 합리적인 사유가 발생될 경우에는 관련 법령에 위배되지 않는 범위 내에서 본 약관을 변경할 수 있습니다.

3. 약관이 변경되는 경우에는 최소한 7일 전에 제1항과 같은 방법으로 공지하며 공지된 약관 변경 적용일에 그 효력이 발생합니다.

4. 관리자가 제3항에 따라 변경된 약관을 사이트에 공지하고, 기관이용자나 개인이용자가 명시적으로 거부의사를 표시하지 아니한 경우 기관이용자나 개인이용자가 개정약관에 동의한 것으로 봅니다.

5. 변경된 약관에 동의하지 않을 경우 기관이용자나 개인이용자는 서비스를 이용할 수 없습니다.

제4조 (약관 외 준칙)

본 약관에 명시되지 않은 사항은 전기통신기본법, 전기통신사업법, 정보통신망이용촉진 등에 관한 법률 및 기타 관련법령의 규정에 따르며, 그렇지 않은 경우에는 일반적인 관례에 따릅니다.



제2장 이용계약 체결

제5조 (이용계약의 성립)

이용계약은 기관이용자와 개인이용자가 본 이용약관의 내용에 대하여 동의를 하고, 회원가입 신청을 정상적으로 마무리 했을 경우 성립됩니다.

제6조 (서비스 이용 신청)

1. 만 19세 미만의 청소년인 경우에는 부모 등 법정 대리인의 동의를 얻은 후에 서비스 이용을 신청하여야 합니다.

2. 서비스를 이용하는 기관이용자와 개인이용자는 다음 사항을 준수하여야 합니다.

가. 다른 사람의 명의를 사용하여 기재하지 않아야 합니다.

나. 가입신청 양식의 내용은 현재의 사실과 일치하여야 합니다.

다. 사회의 안녕, 질서 또는 미풍양속을 저해할 목적으로 신청해서는 안 됩니다.

라. 등록 양식 또는 그 내용이 현재의 사실과 일치하지 않아 발생하는 불이익으로 인한 책임은 기관이용자와 개인이용자에게 있습니다.

마. 기관이용자나 개인이용자가 제공한 정보가 부정확하거나 현재의 사실과 일치하지 않는 경우, 또는 그러하다고 의심할 수 있는 합리적인 이유가 있는 경우 서비스 이용이 제한될 수 있습니다.

바. 기관이용자의 경우 담당자가 최초 기재 시 담당자가 아닌 다른 담당자로 변경 시 관리자에게 고지해야 하며, 고지를 하지 않아서 발생하는 불이익으로 인한 책임은 기관이용자에게 있습니다.

사. 기관이용자의 계약기간이 종료된 후 요청 인원이 존재하여도 해당 인원은 이월되지 않습니다.

제7조 (이용 신청의 제한)

다음과 같은 경우 이용신청자의 이용 신청 승낙을 제한할 수 있고, 이 사유가 해소될 때 까지 승낙을 유보할 수 있습니다.

가. 서비스 관련 설비 용량이 부족한 경우

나. 기술상 문제가 있는 경우

다. 기타 부득이한 사정이 있는 경우



제8조 (기관이용자와 개인이용자 정보의 변경)

1. 다음과 같은 경우에 관리자는 기관이용자나 개인이용자의 ID를 변경하도록 요구할 수 있습니다.

가. ID가 기관이용자나 개인이용자의 전화번호 등으로 등록되어 기관이용자나 개인이용자의 사생활을 침해할 우려가 있는 경우

나. 타인에게 혐오감을 주거나 미풍양속에 저해되는 경우

다. 기타 소정의 합리적인 이유가 있는 경우



제9조 (계약 해지 및 자격 상실 등)

1. 기관이용자가 이용계약을 해지하고자 하는 때에는 관리자에게 사전에 통보하여 상호 협의 하에 결정하여야 합니다.

2. 기관이용자나 개인이용자가 다음 각 호의 사유에 해당하는 경우 관리자는 기관이용자나 개인이용자의 자격을 제한 및 정지시킬 수 있습니다.

가. 가입 신청 시에 허위 내용을 등록한 경우

나. 다른 사람의 서비스 이용을 방해하거나 그 정보를 도용하는 등 전자거래질서를 위협하는 경우

다. 제공되는 정보를 변경하는 등 서비스의 운영을 방해한 경우

라. 법령과 이 약관이 금지하거나 미풍양속에 반하는 행위를 하는 경우

3. 관리자가 기관이용자나 개인이용자의 서비스 이용을 제한 및 정지시킨 후 그 사유가 시정되지 아니하는 경우 관리자는 기관이용자나 개인이용자의 서비스 이용 권한과 이용자격을 상실시킬 수 있습니다.

4. 관리자가 기관이용자나 개인이용자의 서비스 이용권한과 이용자격을 상실시키는 경우에는 계약을 해지하며, 관리자에게 해당 기관이용자나 개인이용자의 저장된 일체의 등록을 말소합니다. 이 경우 기관이용자나 개인이용자에게 이를 통지하고, 등록 말소 전에 소명할 기회를 부여합니다.

5. 관리자는 기관이용자나 개인이용자의 서비스 이용권한과 이용자격을 상실하고 등록이 말소된 기관이용자나 개인이용자가 다시 이용신청을 하는 경우 일정기간 그 승낙을 제한할 수 있습니다.

6. 관리자는 기관이용자가 계약한 회차의 이용기간이 종료된 경우 기관이용자의 서비스 이용을 제한하고 해당 계약을 종료합니다.

7. 관리자는 개인이용자가 서비스를 이용 시 사이트에 게시된 서비스 이용기간이 종료된 경우 개인이용자의 서비스 이용을 제한 및 종료합니다.

8. 서비스 이용 기간 및 계약기간이 종료된 후 기관이용자나 개인이용자는 서비스 관련 일체의 자료 제공을 관리자에게 요청할 수 없습니다.

9. 관리자는 기관이용자나 개인이용자가 기관코드, 회차코드, ID와 비밀번호 등의 분실, 유출 등으로 인한 피해나 불이익에 책임지지 않습니다.

10. 개인이용자의 경우 서비스를 이용하기 위한 결제를 실행한 후에는 해당 서비스 이용에 대한 이용 취소나 결제 금액 환불은 실시되지 않습니다.

11. 기관이용자의 경우 서비스를 이용하기 위한 계약을 관리자와 체결한 후 계약금과 이용금액을 관리자에게 입금하지 않은 경우 서비스를 이용할 수 없습니다.

12. 기관이용자의 경우 서비스를 이용하기 위한 계약을 관리자와 체결한 후 지급된 계약금은 기관이용자의 계약 파기 시 환불되지 않습니다.

13. 기관이용자의 경우 서비스를 이용하기 위한 계약을 관리자와 체결한 후 지급된 이용금은 기관이용자의 계약 파기 시 이용한 서비스 대금을 제외한 나머지 금액을 환불합니다.



제3장 기관이용자와 개인이용자 개인정보보호

제10조 (관리자의 보안관리)

관리자는 기관이용자나 개인이용자의 기관정보나 개인정보가 분실, 도난, 누출, 변조 또는 훼손되지 않도록 안전성 확보에 필요한 조치를 강구합니다. 단, 기관이용자나 개인이용자가 SNS와 게시판, 댓글, 답글 등 온라인 상에서 자발적으로 제공하는 기관정보나 개인정보는 다른 사람이 수집하여 사용할 가능성이 있으며 이러한 위험은 기관이용자나 개인이용자에게 책임이 있고 관리자에게는 책임이 없습니다.

제11조 (관리자의 기관이용자와 개인이용자정보 사용에 대한 동의)

1. 관리자는 제공하는 서비스의 기관이용자나 개인이용자를 대상으로 해당 서비스의 양적, 질적 향상을 위하여 기관이용자나 개인이용자의 개인 식별이 가능한 개인정보를 기관이용자나 개인이용자의 동의를 받아 이를 수집, 이용할 수 있습니다.

2. 관리자가 수집하는 개인정보는 서비스의 제공에 필요한 최소한으로 하되, 필요한 경우 더 자세한 정보를 요구할 수 있습니다.

3. 기관이용자나 개인이용자가 제공한 기관정보나 개인정보는 동의 없이 제3자에게 누설하거나 제공하지 않습니다. 단, 관리자는 관련 법률에 어긋나지 않는 한 서비스를 이용하는 기관이용자나 개인이용자에게 제공되는 서비스의 질을 향상시킬 목적이나 통계작성 또는 시장조사 및 지속적인 연구 등을 위하여 특정 개인을 식별할 수 없는 형태로 제공할 수 있습니다.

4. 전기통신사업법 등 법률 규정에 의해 국가 기관의 요구가 있는 경우, 수사상 목적이 있거나 방송통신심의위원회의 요청이 있는 경우 또는 기타 관계법령 절차에 따른 정보제공 요청이 있는 경우 기관이용자나 개인이용자의 정보가 제공될 수 있습니다.

5. 관리자는 서비스를 통해 기관이용자나 개인이용자의 컴퓨터에 쿠키를 전송할 수 있습니다. 기관이용자나 개인이용자는 쿠키 수신을 거부하거나 쿠키 수신에 대해 경고하도록 브라우저 설정을 변경할 수 있습니다. 단, 서비스에 링크된 웹사이트들이 개인정보를 수집하는 행위에 대해서는 관리자가 책임지지 않습니다.

제12조 (관리자의 개인정보 수집 및 이용목적)

관리자는 다음과 같은 이유로 기관이용자나 개인이용자의 개인정보를 수집 및 이용 할 수 있습니다.

가. 기관이용자나 개인이용자의 서비스 질 향상과 사이트 기획 시

나. 기관이용자나 개인이용자의 정보를 이용한 학술적 목적 연구 시

다. 기관이용자나 개인이용자의 정보를 이용한 통계조사 시



제13조 (기관이용자와 개인이용자 개인정보 보유 및 이용기간)

1. 기관이용자나 개인이용자 개인정보는 서비스 이용을 위한 회원가입 시 이루어지는 가입정보로서 기관이용자나 개인이용자의 동의를 받아 관리자가 보유합니다.

2. 기관이용자나 개인이용자의 개인정보는 최소 3년 간 관리자가 보유하나, 제12조와 관련한 상황 발생 시 기간이 연장될 수 있습니다.



제4장 서비스 이용

제14조 (서비스 이용 범위)

1. 기관이용자나 개인이용자는 사이트별 특성에 따라 제공하는 구체적인 서비스 내용, 이용조건 및 절차 등에 따라 해당 서비스를 이용할 수 있습니다.

2. 관리자는 관련 법령 및 사이트 별 특성에 따라 일정 기준에 따라 기관이용자나 개인이용자를 구분하여 제공하는 서비스 메뉴를 달리 적용할 수 있습니다.

제15조 (서비스의 이용 시간)

1. 관리자는 기관이용자나 개인이용자의 이용신청을 승낙한 때부터 서비스를 개시합니다. 단 관리자의 업무상 또는 기술상의 장애로 인하여 서비스를 개시하지 못하는 경우, 서비스에 공지하거나 회원에게 즉시 이를 통지합니다.

2. 서비스의 이용은 연중무휴 1일 24시간을 원칙으로 합니다. 다만 관리자가 업무상 또는 기술상의 이유로 서비스의 전부 또는 일부가 일시 중지되거나, 운영상의 목적으로 관리자가 정한 기간에는 서비스의 전부 또는 일부가 일시 중지될 수 있습니다. 이러한 경우 사전 또는 사후 이를 공지합니다.

3. 관리자는 서비스별로 이용 가능한 시간을 별도로 정할 수 있으며 이 경우 그 내용을 사전에 공지합니다.

제16조 (정보의 제공 및 광고의 게재)

1. 관리자는 서비스의 운용과 관련하여 서비스 화면 등 사이트에서 지정하는 위치에 광고 등을 게재할 수 있습니다.

2. 기관이용자나 개인이용자는 관리자가 서비스가 발생하는 사이트에서 제공하는 홈페이지 배너 광고에 대해 임의의 삭제, 비방과 기타 광고를 방해하는 행위를 할 수 없습니다.

제17조 (기관이용자와 개인이용자의 이용 범위)

1. 기관이용자나 개인이용자가 서비스에 등록된 게시물 등으로 인하여 본인 또는 타인에게 손해나 기타 문제가 발생하는 경우 관리자는 특별한 사정이 없는 한 이에 대하여 책임을 지지 않습니다.

2. 기관이용자나 개인이용자는 다음과 같은 행동을 하였을 경우 관리자는 관련 법령에 의거하여 해당 기관이용자나 개인이용자에게 법적인 처벌과 손해배상 청구 등을 요구할 수 있습니다.

가. 다른 기관이용자나 개인이용자 또는 제 3자에게 심한 모욕을 주거나 명예를 손상시킨 경우

나. 관리자에게 모욕을 주거나 관리자의 명예를 손상시키거나 관리자의 영업이익과 매출에 손해를 입힌 경우

다. 공공질서 및 미풍양속에 위반되는 내용을 유포하거나 링크시키는 경우

라. 불법복제 또는 해킹을 조장 및 실행한 경우

마. 서비스에 무단 침입한 경우

바. 서비스 내용의 일부나 전체를 무단으로 복제, 복사, 수정, 개조, 전시, 전송, 전재, 배포, 유포, 출판, 방송, 2차 저작 등을 한 경우

사. 범죄와 결부된다고 객관적으로 인정될 경우

아. 관리자의 저작권 등 기타 권리를 침해한 경우

자. 기타 관계법령에 위배된다고 판단되는 경우

3. 관리자는 본 약관 제17조 제2항 각 호에 해당하는 경우가 발생 시 해당 기관이용자나 개인이용자의 서비스 이용을 즉시 제한함과 동시에 계약을 해지하며, 해당 기관이용자나 개인이용자에게 법적 책임을 물을 수 있습니다.

4. 관리자와 기관이용자의 서비스 이용계약이 종료된 상태나 계약된 회차가 종료되었을 때

제18조 (서비스에 대한 저작권)

1. 관리자가 작성한 게시물 및 저작물에 대한 저작권과 기타 지적재산권은 관리자에 귀속합니다.

2. 서비스 내 게시물의 복제, 수정, 개조, 전시, 전송, 배포, 전재, 배포, 유포, 2차 저작 등은 법으로 금지되며, 기관이용자나 개인이용자가 해당 행위 시 관리자는 해당 기관이용자나 개인이용자에게 법적인 책임을 물을 수 있습니다.

제19조 (서비스 제공의 중지)

1. 관리자는 제공되는 서비스의 일부 또는 전부를 운영환경 및 정책의 변화에 따라 중지 할 수 있습니다.

2. 관리자는 제1항으로 인한 서비스의 중지에 따른 기관이용자나 개인이용자의 기대이익 상실에 대해서는 배상하지 않습니다.

제20조 (서비스 이용제한)

관리자는 기관이용자나 개인이용자가 서비스 이용 내용에 있어서 다음 각 항에 해당하는 경우 서비스 이용 제한, 초기화, 이용계약 해지 및 기타 해당 조치를 할 수 있습니다.

1. 가입정보에 부정한 내용을 등록하거나 타인의 ID, 비밀번호, 전자우편(E-mail) 등 기타 개인정보를 도용하는 행위 또는 이용자 ID, 기관코드, 회차코드를 타인과 거래, 제공하거나 양도하는 행위

2. 공공질서 및 미풍양속에 위반되는 저속, 음란한 내용 또는 타인의 명예나 프라이버시를 침해할 수 있는 내용의 정보, 문장, 도형, 음향, 동영상을 전송, 게시, 전자우편(E-mail) 또는 기타의 방법으로 관리자나 타인에게 유포하는 행위

3. 공공질서 및 미풍양속에 위반되는 저속, 음란한 내용 또는 타인의 명예나 프라이버시를 침해할 수 있는 내용의 정보, 문장, 도형, 음향, 동영상을 서비스 내용에 합성, 접목, 왜곡 인용하여 전송, 게시, 전자우편(E-mail) 또는 기타의 방법으로 타인에게 유포하는 행위

4. 관리자가 제공하는 서비스에 대한 음해, 혐오, 무고, 명예훼손, 내용의 왜곡 등의 행위나 다른 기관이용자나 개인이용자를 희롱 또는 위협하거나, 관리자에게 지속적으로 고통 또는 불편을 주는 행위

5. 관리자로부터 특별한 권리를 부여 받지 않고 서비스의 프로그램을 변경하거나, 서버를 해킹하는 등 관리자가 제공하는 서비스의 일부분 또는 전체를 임의로 변경하는 행위

6. 서비스를 통해 얻은 정보를 무단으로 복제하거나 이를 출판 및 방송 등에 사용하거나 제 3자에게 제공하거나 2차 저작을 하는 경우

7. 관리자를 사칭하거나 고의로 서비스를 방해하는 등 정상적인 서비스 운영에 방해가 될 경우

8. 약관을 포함하여 관리자가 정한 제반 규정을 위반하거나 범죄와 결부된다고 객관적으로 판단되는 등 제반 법령을 위반하는 행위



제5장 권리와 의무

제21조 (관리자의 의무)

1. 관리자는 특별한 사유가 없는 한 서비스 제공 설비를 항상 운용 가능한 상태로 유지 보수하여야 하며, 안정적으로 서비스를 제공할 수 있도록 최선의 노력을 다하여야 합니다.

2. 관리자는 서비스와 관련한 회원의 불만사항이 접수되는 경우 이를 처리하여야 하며, 처리가 곤란한 경우 그 사유와 처리 일정을 서비스를 제공하는 사이트 홈페이지를 통하여 공지하거나 필요한 경우 기관이용자나 개인이용자에게 전자우편(E-mail)을 통하여 공지합니다.

제22조 (기관이용자와 개인이용자의 의무)

1. 기관이용자나 개인이용자는 관계 법령, 본 약관의 규정, 이용 안내 및 서비스 상에 공지한 주의사항, 관리자가 통지하는 사항을 준수하여야 하며, 기타 서비스를 제공하는 관리자의 업무에 방해되는 행위를 하여서는 안 됩니다.

2. 기관이용자나 개인이용자는 관리자의 사전 동의 없이 서비스를 이용하여 어떠한 영리행위도 할 수 없으며, 서비스 내용의 일부나 전체를 도용, 복제, 수정, 복사, 유포, 전재, 배포, 개조, 전시, 전송, 게재, 출판, 방송, 2차 저작할 수 없습니다.

3. 기관이용자나 개인이용자는 관리자가 "개인정보보호정책"에 의하여 책임을 지는 경우를 제외하고, 자신의 ID와 비밀번호, 기관코드, 회차코드를 유지 관리할 책임이 있으며 자신의 ID와 비밀번호, 기관코드, 회차코드를 사용하여 발생하는 모든 결과에 대해 전적인 책임이 있습니다. 또한 자신의 ID와 비밀번호, 기관코드, 회차코드가 자신의 승낙 없이 사용되었을 경우 즉시 관리자에게 통보하여야 합니다.

4. 기관이용자나 개인이용자는 서비스와 관련하여 다음 사항을 하여서는 안 됩니다.

가. 서비스를 이용하여 얻은 정보를 관리자의 사전 승낙 없이 서비스 내용의 일부나 전체를 도용, 복제, 수정, 복사, 유포, 전재, 배포, 개조, 전시, 전송, 게재, 출판, 방송, 2차 저작 및 기타의 방법으로 사용하거나 타인에게 제공하는 행위

나. 서비스와 관련된 음해, 무고 및 사회질서를 해치는 행위

다. 관리자의 명예를 훼손하거나 모욕하는 행위, 관리자의 지적재산권 등의 권리를 침해하는 행위

라. 해킹 또는 컴퓨터 바이러스를 유포하는 일을 하는 행위

마. 다른 기관이용자나 개인이용자의 ID, 비밀번호, 기관코드, 회차코드를 부정 사용하는 행위

바. 다른 기관이용자나 개인이용자의 개인 정보를 수집, 저장하는 행위

사. 관리자를 사칭하는 행위

아. 서비스를 통해 전송된 콘텐츠의 발신인을 위조하는 행위

자. 타인을 괴롭히는 행위

차. 서비스의 운영에 지장을 주거나 줄 우려가 있는 일체의 행위, 기타 관계 법령에 위배되는 행위

제23조 (양도금지)

기관이용자나 개인이용자는 서비스의 이용권한, 기타 이용 계약상 취득한 지위를 타인에게 양도, 증여할 수 없으며, 이를 담보로 제공할 수 없습니다.

제24조 (손해배상)

1. 관리자는 제공하는 서비스와 관련하여 기관이용자나 개인이용자에게 어떠한 손해가 발생하더라도 관리자의 중대한 과실에 의한 경우를 제외하고 이에 대하여 책임을 지지 아니합니다.

2. 기관이용자나 개인이용자가 본 약관의 규정을 위반하였을 경우 관리자는 해당 기관이용자나 개인이용자에게 손해배상을 청구할 수 있습니다.

제25조 (면책 조항)

1. 관리자는 기관이용자나 개인이용자가 서비스를 통해 게재 또는 전송한 정보, 자료, 사실의 정확성, 신뢰성 등 내용에 관하여 어떠한 보증도 하지 아니하며, 기관이용자나 개인이용자의 비스 자료에 대한 취사선택 또는 이용으로 발생하는 손해 등에 대해 책임을 지지 아니합니다.

2. 관리자는 기관이용자나 개인이용자가 서비스를 이용하여 기대하는 손익이나 서비스를 통하여 얻은 자료로 인한 손해에 관하여 책임을 지지 아니합니다.

3. 관리자는 기관이용자나 개인이용자 상호간 또는 기관이용자와 개인이용자와 제3자 상호간에 서비스를 매개로 발생한 분쟁에 대해서는 개입할 의무가 없으며 이로 인한 손해를 배상할 책임도 없습니다.

4. 관리자는 기관이용자나 개인이용자의 귀책사유로 인하여 서비스 이용의 장애가 발생한 경우에는 책임이 면제됩니다.

5. 본 약관의 규정을 위반함으로 인하여 관리자에게 손해가 발생하게 되는 경우, 본 약관을 위반한 기관이용자나 개인이용자는 관리자에게 발생되는 모든 손해를 배상하여야 하며, 동 손해로부터 관리자를 면책시켜야 합니다.

6. 관리자는 서비스에서 제공되는 웹페이지, 게시판의 게시물 등이 보유되는 기간, 송수신할 수 있는 게시물의 최대크기 등 일반 사용에 대한 제한을 할 수 있습니다.

제26조 (분쟁의 해결)

1. 관리자와 기관이용자나 개인이용자는 서비스와 관련하여 발생한 분쟁을 원만하게 해결하기 위하여 필요한 모든 노력을 하여야 합니다.

2. 모든 노력에도 불구하고 소송이 제기될 경우, 관리자의 소재지 관할 법원을 전속 관할 법원으로 합니다.

제27조 (법률의 적용)

기관이용자나 개인이용자의 서비스 사용으로 발생되는 모든 법적 문제는 대한민국 관계 법령의 적용을 받습니다.



부칙

본 약관은 공시한 날부터 시행합니다.

























개인정보 수집 및 이용 목적1. 개인정보 수집 및 이용 목적

가. 서비스 이용에 따른 본인 식별, 가입의사 확인

나. 불량기관이용자나 불량개인이용자의 부정이용 방지 및 비인가 사용 방지

다. 이용 대상별 서비스 접근 제한

라.  공지사항 전달 및 신규 서비스 등 정보 안내

2. 수집하는 개인정보의 항목

가. 기관이용자의 경우ID, 비밀번호, 소속기관명, 소속기업명, 주소, 사업자등록번호, 법인번호, 이메일 주소, 담당자(정) 성명, 부서, 직책, 연락처, 추가 연락처, 담당자(부) 성명, 부서, 직책, 연락처, 추가 연락처 

나. 개인이용자의 경우 이름, 성별, ID, 비밀번호, 생년월일, 휴대전화, 이메일 주소, 주소, 학년 반, 추가연락처, 보호자 이름, 보호자 연락처, 보호자 이메일주소, 학력정보, 직업정보 

3. 개인정보의 보유 및 이용기간

가. 기관이용자나 개인이용자 개인정보는 서비스 이용을 위한 회원가입 시 이루어지는 가입정보로서 기관이용자나 개인이용자의 동의를 받아 관리자가 보유합니다.

나. 기관이용자나 개인이용자의 개인정보는 최소 3년 간 관리자가 보유하나, 이용약관 제12조와 관련한 상황 발생 시 기간이 연장될 수 있습니다. 

4. 동의를 거부할 권리 및 동의 거부에 따른 불이익

가. 수집하는 개인정보의 항목 중 필수 정보에 대해서는 수집 및 이용에 동의를 하셔야 이후 절차를 진행할 수 있습니다. 동의를 하지 않을 경우 서비스 이용이 제한되고, 로그인이 필요한 서비스의 이용이 제한됩니다. 선택정보에 대해서는 동의를 거부할 수 있으며, 이를 거부하더라도 서비스 이용에 대한 불이익은 없습니다.</textarea>
                            <fieldset class="fregister_agree text-right">
                                <label for="agree11">회원가입약관의 내용에 동의합니다.</label>
                                <input asp-for="agree11" type="checkbox" />
                            </fieldset>
                            <span asp-validation-for="agree11" class="text-danger"></span>
                        </div>
                    </div>

                    @if (@ViewBag.Message != null)
                    {
                        <div class="col-sm-8 text-danger">
                            <div class="alert alert-danger font-weight-bold" role="alert">
                                @ViewBag.Message
                            </div>

                        </div>
                    }
                    <br />
                    <div class="form-group">
                        <div class="col-sm-10 col-sm-offset-3 text-right">
                            <a href="/Aptit/MainLogin" class="btn btn-secondary">취소</a>
                            <button type="submit" class="btn btn-primary" id="btnStart">시작</button>
                        </div>
                    </div>


                </div>
                </div>


</form> <!-- /form -->
</div> <!-- ./container -->
@section Scripts {
  @*  @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
    $('form#frm').submit(function () {
        if ($('form#frm').valid()) {
                return true;
            }
        else 
        {
        }
        });
    </script>*@
}